@{
    ViewData["Title"] = "Add Category";
}
<div class="container">
    <h1 id="mineTitle">@this.ViewData["Title"]</h1>
    <form method="post">
        <div class="input-group mb-lg-5 my-3">
            <input type="text" class="form-control" name = "name" placeholder="Category Name">
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="submit">Add</button>
            </div>
        </div>
    </form>
</div>

