@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Moderator's Dashboard</h1>
<div class="container p-1">
    <div class="card">
        <div class="card-header">
            Categories
        </div>
        <div class="card-body">
            <h5 class="card-title">Add/Edit/Delete Categories</h5>
            <p class="card-text">Send an Email to the admin after making changes to the categories.</p>
            <a asp-controller="Categories" asp-action="Index" class="btn btn-primary">Categories</a>
        </div>
    </div>

    <br/>  
    
    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

