@model HashtagIT.Web.ViewModels.HashtagSets.HashtagSetCreateInputModel

@{
    ViewData["Title"] = "Edit";
}

<h1 id="mineTitle">Edit</h1>

<hr />

<div class="container">

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label class="control-label">Hashtags</label>
            <textarea class="form-control" rows="6" asp-for="Text" style="resize:none"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>

        <div class="form-group">
            <i class="fas fa-list"></i>
            <label>Category</label>
            <select class="form-control" asp-for="CategoryId" asp-items="Model.Categories.Select(c=> new SelectListItem(c.Name,c.Id.ToString()))">
            </select>
        </div>

        <div class="form-group">
            <i class="fas fa-user-lock"></i>
            <label>Private</label>
            <input type="checkbox" asp-for="IsPrivate" />
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

    </form>
    <div>
        <a asp-action="MySets">Back to My Sets</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
