@model HashtagIT.Web.ViewModels.HashtagSets.AllHashtagSetsByUserViewModel
@{
    Layout = "~/Views/Shared/_NavBar.cshtml";
}

<div class="container">
    <div>
        <i class="fas fa-user"></i>
        <label class="font-weight-bold">@Model.UserName</label>
    </div>
    @foreach (var hashtagSet in @Model.HashtagSets)
    {
        <div class="row px-3 form-group">
            <label class="text-muted bg-light mt-4 mb-3" placeholder="">@hashtagSet.Text</label>
            <div>
                <i class="fas fa-list"></i>
                <label>@hashtagSet.Category.Name</label>
            </div>
                <div class="ml-auto">
                    <a href="/HashtagSet/Delete/@hashtagSet.Id" class="btn btn-danger">Delete</a>
                </div>
        </div>
    }

</div>