@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Administration Page</h1>

<div class="container p-1">
    <div class="card">
        <div class="card-header">
            Roles
        </div>
        <div class="card-body">
            <h5 class="card-title">Add/Edit/Delete Roles</h5>
            <a asp-controller="ApplicationRoles" asp-action="Index" class="btn btn-primary">Roles</a>
        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-header">
            Make Moderator
        </div>
        <div class="card-body">
            <h5 class="card-title">Promote to moderator.</h5>
            <a asp-controller="ApplicationRoles" asp-action="MakeModerator" class="btn btn-primary">Make morator</a>
        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-header">
            Categories
        </div>
        <div class="card-body">
            <h5 class="card-title">Add/Edit/Delete Categories</h5>
            <a asp-area="Moderation" asp-controller="Categories" asp-action="Index" class="btn btn-primary">Categories</a>
        </div>
    </div>
</div>
