@model HashtagIT.Web.ViewModels.IG.IndexPageViewModel
<div class="container">
    <div id="cards">
        <!--GeneraetByWord-->
        <div class="row justify-content-end p-2">
                <form id="form2" method="post" asp-controller="IG" asp-action="GenerateSet" class="col-4">
                    <span class="input-group-text" id="basic-addon1">
                        #
                        <input name="hashtag" class="ml-1 form-control" placeholder="Generate hashtag set by single word." aria-label="Hashtag" aria-describedby="basic-addon1" required>
                    </span>
                    <button type="submit" class="mt-2 btn btn-outline-dark ml-auto" onclick="Loading()">GENERATE</button>
                </form>
        </div>

        <div class="row justify-content-between">
            <!--TopNine-->
            <div class="col-md-4 p-3">
                <div class="card mb-4 text-white bg-dark">
                    <img class="card-img-top" src="~/img/topNine.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Top Nine Posts</h5>
                        <p class="card-text">See your best 9 post.</p>
                        <form id="form2" method="post" asp-controller="IG" asp-action="TopNine">
                            <span class="input-group-text" id="basic-addon1">
                                @@
                                <input name="username" class="ml-1 form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
                            </span>
                            <button type="submit" class="mt-2 btn btn-outline-light" onclick="Loading()">GENERATE</button>
                        </form>
                    </div>
                </div>
            </div>

            <!--Friendship-->
            <div class="col-md-4 p-3">
                <div class="card mb-4 text-white bg-dark">
                    <img class="card-img-top" src="~/img/lights.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Check Friendship</h5>
                        <p class="card-text">
                            (Login with your Instagram Accout).
                        </p>
                        <form id="form2" method="post" asp-controller="IG" asp-action="Friendship">
                            <span class="input-group-text" id="basic-addon1">
                                @@
                                <input name="username" class="ml-1 form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
                            </span>
                            <button type="submit" class="mt-2 btn btn-outline-light" onclick="Loading()">CHECK</button>
                        </form>
                    </div>
                </div>
            </div>

            <!--NotFollowingBack-->
            <div class="col-md-4 p-3">
                <div class="card mb-4 text-white bg-dark">
                    <img class="card-img-top" src="~/img/instagram.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Not Following You</h5>
                        <p class="card-text">See who is not following you back.</p>
                        <form id="form2" method="post" asp-controller="IG" asp-action="NotFollowingPost">
                            <span class="input-group-text" id="basic-addon1">
                                @@
                                <input name="username" class="ml-1 form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
                            </span>
                            <button type="submit" class="mt-2 btn btn-outline-light" onclick="Loading()">CHECK</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--TopHashtags-->
        <div>
            <h2 class="text-lg-center p-2">Top Hashtags</h2>
            <hr />
            <div class="row justify-content-between">
                @foreach (var hashset in Model.Hashsets)
                {
                    <div class="col col-2">
                        <h6 class="mb-1">
                            <i class="fas fa-user"></i>
                            @hashset.Username
                        </h6>
                        <div class="border-left p-1" style="border-color:#1d1d1d">
                            <label class="mb-1" style="font-size: 10px; border:2px; border-color:black;">@hashset.Text</label>
                        </div>
                        <small class="text-muted ml-2">
                            <i class="fas fa-heart" style="color:#D3212D;"></i>
                            @hashset.TotalLikes
                        </small>
                    </div>
                }
            </div>
        </div>
    </div>

    <!--Loading-->
    <div>
        <div id="message" class="text-center p-4" hidden>
            <h6>
                This can take up to several minutes.
            </h6>
        </div>
        <div id="loader" hidden>
            <div class="lds-roller custom-center">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

</div>


@section Scripts{

    <script>
        function Loading() {
            var form = document.getElementById("cards");
            form.hidden = true;

            var loader = document.getElementById("loader");
            loader.hidden = false;

            var text = document.getElementById("message");
            text.hidden = false;
        }

    </script>

}
