@model HashtagIT.Web.ViewModels.IG.LoginViewModel
@{
    this.ViewData["Title"] = "Login";
    Layout = null;
}
<link href="https://fonts.googleapis.com/css?family=Grand+Hotel:400,700" rel="stylesheet" type="text/css">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />

<title>@this.ViewData["Title"]</title>
<body style="background-color:#fafafa;">
    <div class="container">
        <div class="row h-100 justify-content-md-center align-items-center">
            <div style="width:350px; height:377.8px; border:1px solid; border-color:#dbdbdb;">
                <div class="card-body">
                    <h1 style="font-family:'Grand Hotel',cursive; text-align:center; font-size:60px">Instagram</h1>
                </div>
                <form class="col-12" asp-action="Login" method="post">
                    <div class="container-sm">
                        <input class="form-control" rows="1" asp-for="IGUserName" style="resize:none" placeholder="Username"></input>
                    </div>
                    <br />
                    <div class="container-sm">
                        <input class="form-control" type="password" placeholder="Password" />
                    </div>
                    <br />
                    <div class="container-sm">
                        <button class="btn btn-primary justify-content-center btn-block rounded" type="submit">Log in</button>
                    </div>
                <hr class="text-muted"/>
                <div class="row justify-content-center">
                    <button class="btn btn-light border-dark" type="submit">Continue as a Guest</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>