@{
    this.Layout = "~/Views/Shared/_NavBar.cshtml";
}

@if (TempData["Message"]!=null)
{

    <div class="container-sm alert alert-success text-center" id="alert">
        @TempData["Message"]
    </div>
}

<header class="masthead img-fluid">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading m-2" id="mineTitle" style="color:azure; font-size:75px;">Welcome to HashtagIT</div>
            <div class="intro-lead-in"><i class="fas fa-angle-double-down"></i></div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#tools">Tell Me More</a>
        </div>
    </div>
</header>



<!-- Tools -->
<section class="page-section" id="tools">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Tools</h2>
                <h3 class="section-subheading text-muted">Tools to help you improve your instagram engagement</h3>
            </div>
        </div>
        <div class="row text-center">
            <!--Sets-->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a asp-controller="HashtagSet" asp-action="MySets">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-sticky-note fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="service-heading">Hashtag Sets</h4>
                <p class="text-muted">Place to save and manage your favorite sets of hashtags. Make them public or private and choose the best category they fit in.</p>
            </div>
            <!--Instagram-->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a asp-controller="IG" asp-action="IGIndex">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="service-heading">Instagram Tools</h4>
                <p class="text- muted">See your mutual followers, Top Nine posts and so much more.</p>
            </div>
            <!--Forum for Sets-->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a asp-controller="HashtagSet" asp-action="Public">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                    </a>
                </span>
                <h4 class="service-heading">Public Hashtags</h4>
                <p class="text-muted">Share and Vote for your favorite Hashtag Sets.</p>
            </div>
        </div>
    </div>
    <br />
</section>

<!-- Portfolio Grid -->
<section class="bg-light page-section p-0" id="portfolio">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/Vitosha.jpg" alt="First slide" id="mineImg">
                </div>
                <div class="carousel-item">
                    <img src="~/img/Belintash.jpg" alt="Second slide" id="mineImg">
                </div>
                <div class="carousel-item">
                    <img src="~/img/NDK.jpg" alt="Third slide" id="mineImg">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
</section>  

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/agency.min.js"></script>

@section Scripts{

    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 0) {
                $('#alert').fadeOut();
            }
        });
    </script>
}

